<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>
  <action id="com.ipfluxio.setcap">
    <description>Grant network packet capture permission</description>
    <message>Authentication is required to allow packet capture.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/grant-capture.sh</annotate>
  </action>
</policyconfig>
