/* EVENT LOG COMPONENT  */
.event-log-wrapper, .schedule-wrapper{
    margin-bottom: 2px;
    padding: 0px 2.5px
}

.event-log-line, .scheduled-scan-entry {
    margin-bottom: 4px;
    padding-left: 5px;
    text-transform: uppercase;
  }

.event-log-content, .schedule-content {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 200px;
    padding: 5px 0px;
    background-color: #1e1e1ef2;
    border: 1px solid #444;
    box-shadow: 2px 2px 5px var(--box-shadow);
    color: var(--amber-accent);
    font-size: 13px;
    overflow-y: auto;  
    overflow-x: hidden; 
    z-index: 10;
}
.schedule-content { 
    font-size: 14px !important;
}

.event-log-content.show, .schedule-content.show {
    display: block;
}

.event-log-toggle {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: 2px solid var(--button-border);
    border-radius: 4px;
    background-color: #292524;
    box-shadow: 0px 8px 15px var(--box-shadow);
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 425px;
}
.schedule-toggle {
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: 2px solid var(--button-border);
    border-radius: 4px;
    background-color: #292524;
    box-shadow: 0px 8px 15px var(--box-shadow);
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 210px;
}

.event-log-toggle .left-group {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.event-log-toggle span{
    text-align: right;
}

.event-log-toggle:hover { 
    background-color: var(--stone-light); 
    border: 2px solid var(--button-border-hover);
}

.event-log-toggle.new-event {
    border: 2px solid var(--amber-light);
    color: var(--amber-accent);
}

.new-event-count {
    color: var(--amber-accent);
}

.event-log-label {
    color: var(--text-white);
}

